<div class="container">
    <div class="profile">
        <div class="profile-img">
            <img src="../../assets/BR.png" alt="Profile Picture">
        </div>
    </div>

    <div class="content">
        <div class="title">
            <h1>My Portfolio</h1>
        </div>

        <div class="name">
            <div class="greeting">Hello! I'm</div>
            <div class="full-name">Venkata Sai Bhargava Reddy Cheruku</div>
            <div class="job-title">Software Development Engineer</div>
        </div>

        <div class="summary">
            <p>With a robust background in computer engineering, my journey in the tech industry has been marked by a
                relentless pursuit of excellence and innovation. From developing scalable software solutions at
                Nationwide Insurance to enhancing educational tools at the University of North Texas, my experience
                spans diverse technological landscapes.</p>
        </div>

        <div class="additional-info">
            <div class="section">
                <h2>Interests and Activities</h2>
                <div class="interests">
                    <p>When not immersed in the world of design, I channel my creativity and curiosity into the worlds
                        of
                        gym, photography, and traveling. Photography, in particular, captures the ephemeral beauty of
                        life,
                        providing me with endless inspiration. Meanwhile, traveling broadens my perspective, introducing
                        me
                        to diverse cultures and enriching my design thinking.</p>
                </div>
            </div>

            <div class="section">
                <h2>Extracurricular Roles</h2>
                <div class="roles">
                    <p>I've also held significant roles outside of my professional sphere. As the General Secretary at
                        the
                        btech college Kakatiya Institute of Technology and Science, I organized and led various cultural
                        fests. Additionally, I served as the head of the publicity and media club for the college fest
                        called Sanskriti.</p>
                </div>
            </div>
            <div class="section">
                <h2>Photography Events</h2>
                <div class="youtube-video">
                    <p>Sanskriti'19 Concept Trailer: </p>
                    <a href="https://www.youtube.com/watch?v=fWdvJ8443h4&ab_channel=Photography%26MediaClubKitsw"
                        target="_blank" class="youtube-link">Zindagi Udd Gaye KITS Warangal || SANSKRITI '19 || PMC
                        2018-19.</a>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/fWdvJ8443h4" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="social-links">
                <p>Also Managed the Social Media Pages for College:</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/PMCKitsw" target="_blank">
                            <i class="fab fa-facebook-square"></i> Facebook Page
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/photography_media_club_kitsw/?hl=en" target="_blank">
                            <i class="fab fa-instagram"></i> Instagram Page
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@photographymediaclubkitsw7580/featured" target="_blank">
                            <i class="fab fa-youtube"></i> YouTube Page
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>