/* Navbar Styles */
.navbar {
    background-color: #212121;
    padding: 1rem 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler {
    color: #fff;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #343a40;
    color: #fff;
}