.navbar {
    background-color: #212121;
    padding: 10px 0;
}

ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li.nav-item {
    margin: 0 10px;
}

a.nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a.nav-link:hover {
    background-color: #69f0ae;
    color: #000;
}