<section class="summary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="summary-title">Summary</h2>
                <p class="summary-text">
                    As a Full Stack Developer with approximately 4 years of experience, I specialize in implementing
                    robust backend systems in Java while also excelling in frontend UI/UX development with Angular. I
                    have spearheaded the development of high-performance applications using cutting-edge technologies
                    such as Spring Boot, Angular, and Microservices. With a track record of delivering over 10 projects
                    on time.
                </p>
                <p class="summary-text">
                    My goal is to leverage my skills and experience to contribute to innovative projects and drive
                    success for your company.
                </p>
            </div>
        </div>
    </div>
</section>